:host {
    .toolbar {
      height: 50px;
      display: flex;
      
    }
    gridster {
      display: flex;
      height: calc(100vh - 115px);
      flex-direction: column;
      background-color:black;
      box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
    }
  

  button {
    height: 30px;
  }

  .w3-card
  {
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
  }
