<div class="toolbar">
  <button class="btn pull-right" routerLink = "/edit">Personalize</button>
</div>
<gridster [options]="options">
  <gridster-item *ngFor="let item of layout" [item]="layout[0]" class="card">
    <div class="dropdown pull-right">
      <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-option-vertical"></span></button>
      <ul class="dropdown-menu">
        <li><a [routerLink]="['/edit']">Edit</a></li>
        <li><a href="#" (click)="onClickMove()">Move</a></li>
        <li><a href="#">Turn it off</a></li>
      </ul>
    </div>
    <h2>Profile</h2>
    <div class="card">
      <img src="img_avatar.png" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><b>John Doe</b></h4> 
        <p>Architect & Engineer</p> 
      </div>
    </div>
  </gridster-item>

  <gridster-item *ngFor="let item of layout" [item]="layout[1]" class="card">
    .................
    <div class="dropdown pull-right">
      <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-option-vertical"></span></button>
      <ul class="dropdown-menu">
        <li><a [routerLink]="['/edit']">Edit</a></li>
        <li><a href="#" (click)="onClickMove()">Move</a></li>
        <li><a href="#">Turn it off</a></li>
      </ul>
    </div>
  </gridster-item>
  <gridster-item *ngFor="let item of layout" [item]="layout[2]" class="card">
    .................
    <div class="dropdown pull-right">
      <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-option-vertical"></span></button>
      <ul class="dropdown-menu">
        <li><a [routerLink]="['/edit']">Edit</a></li>
        <li><a href="#" (click)="onClickMove()">Move</a></li>
        <li><a href="#">Turn it off</a></li>
      </ul>
    </div>
  </gridster-item>

  <gridster-item *ngFor="let item of layout" [item]="layout[3]" class="card">
    .................
    <div class="dropdown pull-right">
      <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-option-vertical"></span></button>
      <ul class="dropdown-menu">
        <li><a [routerLink]="['/edit']">Edit</a></li>
        <li><a href="#" (click)="onClickMove()">Move</a></li>
        <li><a href="#">Turn it off</a></li>
      </ul>
    </div>
  </gridster-item>

  <gridster-item *ngFor="let item of layout" [item]="layout[4]">
    <div>
     <button class="btn" type="button">Add</button>
    </div>
    
  </gridster-item>
  <gridster-item *ngFor="let item of layout" [item]="layout[5]">
    .................
    <div class="dropdown pull-right">
      <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-option-vertical"></span></button>
      <ul class="dropdown-menu">
        <li><a [routerLink]="['/edit']">Edit</a></li>
        <li><a href="#" (click)="onClickMove()">Move</a></li>
        <li><a href="#">Turn it off</a></li>
      </ul>
    </div>
    <div class="center">
      <button class="btn center" type="button">Add</button>
  </div>
  </gridster-item>

  <gridster-item *ngFor="let item of layout" [item]="layout[6]" class="hide">
    .................
    <div class="dropdown pull-right">
      <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-option-vertical"></span></button>
      <ul class="dropdown-menu">
        <li><a [routerLink]="['/edit']">Edit</a></li>
        <li><a href="#" (click)="onClickMove()">Move</a></li>
        <li><a href="#">Turn it off</a></li>
      </ul>
    </div>
  </gridster-item>
</gridster>